<!doctype html>

<html>
<head>
    <title>MVE</title>   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/css/fonts-myriad-set-pro-200.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="css/application.css" rel="stylesheet">



    {{!-- Load JS here --}}

    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript" src="/js/can.js"></script>

    <script type="text/javascript" src="/js/application.js"></script>

</head>


{{{body}}}



{{!-- PUtting this here makes the actual thing load. Make sure it's at the end or is loaded when you want it to be --}}
{{!-- <script src="js/youtube_api.js"></script> --}}

</body>
</html>
