@import url(font-awesome.min.css);
@import url(fonts-myriad-set-pro-200.css);
@import url(reset.css);
/* line 54, ../../src/styles/globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../../src/styles/globals.scss */
.controls.player-movement .new-movement .cover-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 72, ../../src/styles/globals.scss */
.hide {
  display: none !important;
}

/* line 77, ../../src/styles/globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, ../../src/styles/globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, ../../src/styles/globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 54, ../../src/styles/globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../../src/styles/globals.scss */
.controls.player-movement .new-movement .cover-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 72, ../../src/styles/globals.scss */
.hide {
  display: none !important;
}

/* line 77, ../../src/styles/globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, ../../src/styles/globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, ../../src/styles/globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 3, ../../src/styles/slider.scss */
.controls.player-slider {
  position: relative;
  background: #1a1a1a;
}
/* line 10, ../../src/styles/slider.scss */
.controls.player-slider .slider-progress, .controls.player-slider .slider-loaded, .controls.player-slider .slider-mouser, .controls.player-slider .slider-labels, .controls.player-slider .slider-time, .controls.player-slider .slider-handle, .controls.player-slider .handle-middle {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 16, ../../src/styles/slider.scss */
.controls.player-slider .slider-bar-wrap {
  position: relative;
  height: 100%;
}
/* line 20, ../../src/styles/slider.scss */
.controls.player-slider .slider-bar {
  cursor: pointer;
  height: 30px;
  z-index: 7;
  background: #bfbfbf;
}
/* line 28, ../../src/styles/slider.scss */
.controls.player-slider .bar-wrap {
  width: 885.6px;
  left: 97.2px;
  position: relative;
}
/* line 33, ../../src/styles/slider.scss */
.controls.player-slider .slider-progress {
  background: red;
  z-index: 2;
}
/* line 39, ../../src/styles/slider.scss */
.controls.player-slider .slider-progress.show-end:after {
  position: absolute;
  content: " ";
  background: #dc0114;
  right: -1px;
  top: 0;
  display: block;
  width: 2px;
  height: 100%;
}
/* line 57, ../../src/styles/slider.scss */
.controls.player-slider .slider-loaded {
  z-index: 1;
  background: #d2d2d2;
}
/* line 62, ../../src/styles/slider.scss */
.controls.player-slider .slider-mouser {
  background: rgba(169, 0, 0, 0.1);
  left: -3px;
  width: 3px;
  z-index: 3;
}
/* line 71, ../../src/styles/slider.scss */
.controls.player-slider .slider-labels {
  width: 100%;
  z-index: 4;
}
/* line 77, ../../src/styles/slider.scss */
.controls.player-slider .slider-labels .slider-label {
  width: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 83, ../../src/styles/slider.scss */
.controls.player-slider .slider-labels .slider-label.full {
  color: rgba(0, 0, 0, 0.6);
  line-height: 50px;
  font-size: 15px;
  height: 100%;
}
/* line 89, ../../src/styles/slider.scss */
.controls.player-slider .slider-labels .slider-label.half {
  height: 50%;
}
/* line 92, ../../src/styles/slider.scss */
.controls.player-slider .slider-labels .slider-label .slider-label-text {
  margin-left: 2px;
}
/* line 99, ../../src/styles/slider.scss */
.controls.player-slider .slider-time {
  width: 100%;
  z-index: 6;
  line-height: 30px;
}
/* line 105, ../../src/styles/slider.scss */
.controls.player-slider .slider-time .time {
  font-size: 12px;
  color: grey;
}
/* line 109, ../../src/styles/slider.scss */
.controls.player-slider .slider-time .time.left-time {
  float: left;
  margin-left: 10px;
}
/* line 113, ../../src/styles/slider.scss */
.controls.player-slider .slider-time .time.right-time {
  float: right;
  margin-right: 12px;
}
/* line 120, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 15px;
  background: black;
}
/* line 129, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer.spacer-bottom .bar-wrap {
  height: 100%;
}
/* line 136, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer .time {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
}
/* line 141, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer .time.zero-time {
  color: grey;
  float: left;
  margin-left: 48.6px;
}
/* line 146, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer .time.current-time {
  color: white;
  width: 50px;
  text-align: center;
}
/* line 153, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer .time.total-time {
  color: grey;
  float: right;
  margin-right: 48.6px;
}
/* line 159, ../../src/styles/slider.scss */
.controls.player-slider .slider-spacer .spacer {
  width: 1px;
  height: 30px;
}
/* line 164, ../../src/styles/slider.scss */
.controls.player-slider .slider-bubble {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 8;
  width: 52px;
  text-align: center;
  color: white;
  height: 14px;
  line-height: 15px;
  top: -18px;
}
/* line 175, ../../src/styles/slider.scss */
.controls.player-slider .slider-bubble .bubble-time {
  font-size: 12px;
  color: white;
}
/* line 179, ../../src/styles/slider.scss */
.controls.player-slider .slider-bubble .bubble-img {
  height: 60px;
  width: 80px;
  position: absolute;
  top: -60px;
  left: -10px;
}
/* line 186, ../../src/styles/slider.scss */
.controls.player-slider .slider-bubble .bubble-img.hd {
  width: 106px;
  height: 60px;
  left: -20px;
}
/* line 195, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle {
  z-index: 6;
  -webkit-transition: left 0.2s ease-in;
  -moz-transition: left 0.2s ease-in;
  -o-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}
/* line 199, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle .handle-bar {
  width: 2px;
  height: 100%;
  background: white;
}
/* line 204, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle .handle-bubble {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 52px;
  left: -25px;
  text-align: center;
  color: white;
  height: 14px;
  line-height: 15px;
  top: -18px;
  color: white;
  font-size: 12px;
}
/* line 219, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle.selected {
  z-index: 7;
}
/* line 221, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle.selected .handle-bar {
  background: #4de1ff;
}
/* line 224, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle.selected .handle-bubble {
  color: #4de1ff;
}
/* line 228, ../../src/styles/slider.scss */
.controls.player-slider .slider-handle.drag-handle {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 232, ../../src/styles/slider.scss */
.controls.player-slider .handle-middle {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2;
  background: rgba(0, 0, 255, 0.2);
}
/* line 238, ../../src/styles/slider.scss */
.controls.player-slider .handle-middle.drag-middle {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 244, ../../src/styles/slider.scss */
.controls.player-slider .slider-buttons {
  position: absolute;
  width: 0;
  height: 30px;
  top: 0;
  line-height: 30px;
  white-space: nowrap;
}
/* line 251, ../../src/styles/slider.scss */
.controls.player-slider .slider-buttons button {
  background: #cecece;
  border: none;
}

/* line 54, ../../src/styles/globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../../src/styles/globals.scss */
.controls.player-movement .new-movement .cover-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 72, ../../src/styles/globals.scss */
.hide {
  display: none !important;
}

/* line 77, ../../src/styles/globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, ../../src/styles/globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, ../../src/styles/globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 3, ../../src/styles/time.scss */
.controls.player-time {
  background: black;
}
/* line 6, ../../src/styles/time.scss */
.controls.player-time .time-main-li {
  padding-top: 30px;
}
/* line 10, ../../src/styles/time.scss */
.controls.player-time .seeker-buttons {
  margin-left: 20px;
  height: 33px;
  width: 167px;
  left: 30px;
}
/* line 20, ../../src/styles/time.scss */
.controls.player-time .seeker-buttons .seek-button-li {
  display: inline-block;
  cursor: pointer;
  padding: 0 7px;
}
/* line 24, ../../src/styles/time.scss */
.controls.player-time .seeker-buttons .seek-button-li .fa {
  color: grey;
  font-size: 30px;
}
/* line 27, ../../src/styles/time.scss */
.controls.player-time .seeker-buttons .seek-button-li .fa.fa-play {
  font-size: 25px;
}
/* line 30, ../../src/styles/time.scss */
.controls.player-time .seeker-buttons .seek-button-li .fa:hover, .controls.player-time .seeker-buttons .seek-button-li .rates .fa.playback-rate.active-rate, .controls.player-time .rates .seeker-buttons .seek-button-li .fa.playback-rate.active-rate {
  color: white;
}
/* line 36, ../../src/styles/time.scss */
.controls.player-time .rates {
  font-size: 20px;
  margin-left: 20px;
}
/* line 44, ../../src/styles/time.scss */
.controls.player-time .rates .playback-rate {
  display: inline-block;
  cursor: pointer;
  color: grey;
}
/* line 48, ../../src/styles/time.scss */
.controls.player-time .rates .playback-rate:hover, .controls.player-time .rates .playback-rate.active-rate {
  color: white;
}
/* line 56, ../../src/styles/time.scss */
.controls.player-time .flip {
  margin-left: 20px;
  font-size: 15px;
}
/* line 62, ../../src/styles/time.scss */
.controls.player-time .flip .flip-icon {
  color: grey;
  cursor: pointer;
}
/* line 67, ../../src/styles/time.scss */
.controls.player-time .zoom {
  right: 40px;
  font-size: 15px;
}
/* line 74, ../../src/styles/time.scss */
.controls.player-time .zoom .fa {
  cursor: pointer;
}
/* line 76, ../../src/styles/time.scss */
.controls.player-time .zoom .fa:hover, .controls.player-time .zoom .rates .fa.playback-rate.active-rate, .controls.player-time .rates .zoom .fa.playback-rate.active-rate {
  color: white;
}

/* line 54, ../../src/styles/globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../../src/styles/globals.scss */
.controls.player-movement .new-movement .cover-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 72, ../../src/styles/globals.scss */
.hide {
  display: none !important;
}

/* line 77, ../../src/styles/globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, ../../src/styles/globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, ../../src/styles/globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 5, ../../src/styles/movement.scss */
.controls.player-movement {
  color: white;
}
/* line 8, ../../src/styles/movement.scss */
.controls.player-movement .new-movement {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 22, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .cover-button {
  background: none;
  border: solid 2px #353535;
  color: #5d5d5d;
  height: 40%;
  width: 80%;
  font-size: 16px;
}
/* line 33, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .new-movement-block {
  height: 100%;
  box-sizing: border-box;
}
/* line 37, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left {
  text-align: center;
  line-height: 110px;
  width: 25%;
  background: #1a1a1a;
}
/* line 41, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left .movement-play-controls {
  display: none;
  margin-top: 15px;
}
/* line 44, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left .movement-play-controls .movement-play-control {
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  padding: 15px;
  padding-top: 0;
}
/* line 50, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left .movement-play-controls .movement-play-control:hover, .controls.player-movement .new-movement .name-left .movement-play-controls .controls.player-time .rates .movement-play-control.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .name-left .movement-play-controls .movement-play-control.playback-rate.active-rate {
  color: #3e6adc;
}
/* line 53, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left .movement-play-controls .movement-play-control:active {
  color: #3861ca;
}
/* line 56, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left .movement-play-controls .movement-play-control.selected {
  color: #05d3ff;
}
/* line 62, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left.show-buttons {
  padding-top: 25px;
  line-height: 15px;
}
/* line 65, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .name-left.show-buttons .movement-play-controls {
  display: block;
}
/* line 73, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .new-move-body {
  width: 55%;
  background: #2c2c2c;
  display: flex;
}
/* line 78, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .new-move-controls {
  width: 20%;
  background: #4c4c4c;
}
/* line 83, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap {
  width: 50%;
  text-align: center;
  height: 100%;
}
/* line 89, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap.show-buttons .time-title {
  height: 20%;
  padding-top: 10px;
  font-size: 12px;
}
/* line 95, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap.show-buttons .time-val-wrap {
  height: 40%;
}
/* line 98, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap.show-buttons .time-button-wrap {
  display: flex;
  height: 40%;
}
/* line 103, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-title {
  color: #5e5e5e;
  padding-top: 30px;
  box-sizing: border-box;
  position: relative;
}
/* line 111, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap {
  padding-top: 15px;
  box-sizing: border-box;
}
/* line 117, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap .saved-time {
  text-align: center;
  width: 100%;
  cursor: pointer;
}
/* line 121, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap .saved-time:hover, .controls.player-movement .new-movement .time-wrap .time-val-wrap .controls.player-time .rates .saved-time.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .time-wrap .time-val-wrap .saved-time.playback-rate.active-rate {
  color: #92e8ff;
}
/* line 125, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap .temp-time {
  display: none;
  width: 100%;
}
/* line 129, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time {
  padding-top: 5px;
}
/* line 132, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time .temp-time {
  display: block;
}
/* line 136, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time .saved-time {
  color: #858585;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 140, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time .saved-time:hover, .controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time .controls.player-time .rates .saved-time.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .time-wrap .time-val-wrap.show-temp-time .saved-time.playback-rate.active-rate {
  color: #92e8ff;
}
/* line 150, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-button-wrap {
  display: flex;
}
/* line 153, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-button-wrap button {
  font-size: 15px;
  width: 50%;
  background: none;
  color: #5e5e5e;
}
/* line 158, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .time-button-wrap button:hover, .controls.player-movement .new-movement .time-wrap .time-button-wrap .controls.player-time .rates button.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .time-wrap .time-button-wrap button.playback-rate.active-rate {
  color: #5e5e5e;
  background: rgba(0, 0, 0, 0.1);
}
/* line 171, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .edit-time {
  position: absolute;
  cursor: pointer;
  font-size: 12px;
  color: #414141;
  padding: 10px;
  top: 20px;
  right: 30px;
}
/* line 180, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .time-wrap .edit-time:hover, .controls.player-movement .new-movement .time-wrap .controls.player-time .rates .edit-time.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .time-wrap .edit-time.playback-rate.active-rate {
  color: #5b5b5b;
}
/* line 187, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .new-move-controls .block-button {
  display: block;
  height: 33.33%;
  background: none;
}
/* line 191, ../../src/styles/movement.scss */
.controls.player-movement .new-movement .new-move-controls .block-button:hover, .controls.player-movement .new-movement .new-move-controls .controls.player-time .rates .block-button.playback-rate.active-rate, .controls.player-time .rates .controls.player-movement .new-movement .new-move-controls .block-button.playback-rate.active-rate {
  background: rgba(0, 0, 0, 0.1);
}

/* line 54, ../../src/styles/globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 63, ../../src/styles/globals.scss */
.controls.player-movement .new-movement .cover-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 72, ../../src/styles/globals.scss */
.hide {
  display: none !important;
}

/* line 77, ../../src/styles/globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, ../../src/styles/globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, ../../src/styles/globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 3, ../../src/styles/saved_movements.scss */
.controls.saved-movements {
  width: 100%;
}
/* line 5, ../../src/styles/saved_movements.scss */
.controls.saved-movements .new-movement-action {
  width: 100%;
  padding: 10px;
  text-align: center;
}
/* line 12, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movements-ul {
  padding: 20px;
}
/* line 15, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li {
  background: #565656;
  padding: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}
/* line 20, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li:hover, .controls.saved-movements .controls.player-time .rates .movement-li.playback-rate.active-rate, .controls.player-time .rates .controls.saved-movements .movement-li.playback-rate.active-rate {
  background: #666666;
}
/* line 23, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li .fa {
  cursor: pointer;
}
/* line 25, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li .fa:hover, .controls.saved-movements .movement-li .controls.player-time .rates .fa.playback-rate.active-rate, .controls.player-time .rates .controls.saved-movements .movement-li .fa.playback-rate.active-rate {
  color: #4de1ff;
}
/* line 28, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li .fa:active {
  color: #00bfe6;
}
/* line 41, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li.current {
  background: #c2c2c2;
  color: white;
}
/* line 44, ../../src/styles/saved_movements.scss */
.controls.saved-movements .movement-li.current .fa {
  color: white;
}

/* line 12, ../../src/styles/application.scss */
.button-1 {
  background: none;
  border: solid 2px white;
  color: white;
  cursor: pointer;
}
/* line 18, ../../src/styles/application.scss */
.button-1:hover, .controls.player-time .rates .button-1.playback-rate.active-rate {
  border-color: #4de1ff;
  color: #4de1ff;
}
/* line 24, ../../src/styles/application.scss */
.button-1:active {
  border-color: #006a80;
  color: #006a80;
}

/* line 31, ../../src/styles/application.scss */
.block-button {
  border: none;
  height: 100%;
  width: 100%;
  color: white;
  background: grey;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-family: "Myriad Set Pro";
}
/* line 43, ../../src/styles/application.scss */
.block-button:focus {
  outline: none;
}
/* line 46, ../../src/styles/application.scss */
.block-button:active:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9;
  display: block;
}

/* line 60, ../../src/styles/application.scss */
body {
  font-family: "Myriad Set Pro";
  background: #373737;
}

/* line 65, ../../src/styles/application.scss */
.main-wrap {
  display: flex;
  height: 1000px;
}

/* line 70, ../../src/styles/application.scss */
.main-video-column {
  min-width: 1080px;
  height: 100%;
  background: #292929;
}

/* line 77, ../../src/styles/application.scss */
.side-column {
  min-width: 300px;
}

/* line 82, ../../src/styles/application.scss */
.player-wrap {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  background: black;
  height: 558px;
}
/* line 87, ../../src/styles/application.scss */
.player-wrap div#player {
  background: #0000ff;
}
/* line 90, ../../src/styles/application.scss */
.player-wrap.flipped {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* line 97, ../../src/styles/application.scss */
.time-movement-controls {
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}
/* line 102, ../../src/styles/application.scss */
.time-movement-controls .controls {
  background: black;
  position: relative;
  width: 540px;
  height: 110px;
}
