/* line 72, globals.scss */
.hide {
  display: none !important;
}

/* line 77, globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 3, saved_movements.scss */
.controls.saved-movements {
  width: 100%;
}
/* line 5, saved_movements.scss */
.controls.saved-movements .new-movement-action {
  width: 100%;
  padding: 10px;
  text-align: center;
}
/* line 12, saved_movements.scss */
.controls.saved-movements .movements-ul {
  padding: 20px;
}
/* line 15, saved_movements.scss */
.controls.saved-movements .movement-li {
  background: #565656;
  padding: 20px;
  margin-bottom: 12px;
}
/* line 19, saved_movements.scss */
.controls.saved-movements .movement-li .fa {
  cursor: pointer;
}
/* line 21, saved_movements.scss */
.controls.saved-movements .movement-li .fa:hover {
  color: #4de1ff;
}
/* line 24, saved_movements.scss */
.controls.saved-movements .movement-li .fa:active {
  color: #00bfe6;
}
/* line 37, saved_movements.scss */
.controls.saved-movements .movement-li.playing {
  background: #6fffe7;
  color: white;
}
/* line 40, saved_movements.scss */
.controls.saved-movements .movement-li.playing .fa {
  color: white;
}
