/* line 54, globals.scss */
.controls.player-slider .slider-spacer .time.current-time {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* line 72, globals.scss */
.hide {
  display: none !important;
}

/* line 77, globals.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

/* line 90, globals.scss */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 100, globals.scss */
ul.inline-list li {
  display: inline-block;
}

/* line 3, slider.scss */
.controls.player-slider {
  position: relative;
  background: #1a1a1a;
}
/* line 10, slider.scss */
.controls.player-slider .slider-progress, .controls.player-slider .slider-loaded, .controls.player-slider .slider-mouser, .controls.player-slider .slider-labels, .controls.player-slider .slider-time, .controls.player-slider .slider-handle, .controls.player-slider .handle-middle {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 16, slider.scss */
.controls.player-slider .slider-bar-wrap {
  position: relative;
  height: 100%;
}
/* line 20, slider.scss */
.controls.player-slider .slider-bar {
  cursor: pointer;
  height: 30px;
  width: 885.6px;
  left: 97.2px;
  position: relative;
  z-index: 7;
  background: #bfbfbf;
}
/* line 30, slider.scss */
.controls.player-slider .slider-progress {
  background: red;
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  -o-transition: width 0.1s linear;
  transition: width 0.1s linear;
  z-index: 2;
}
/* line 36, slider.scss */
.controls.player-slider .slider-progress.show-end:after {
  position: absolute;
  content: " ";
  background: #dc0114;
  right: -1px;
  top: 0;
  display: block;
  width: 2px;
  height: 100%;
}
/* line 54, slider.scss */
.controls.player-slider .slider-loaded {
  z-index: 1;
  background: #d2d2d2;
}
/* line 59, slider.scss */
.controls.player-slider .slider-mouser {
  background: white;
  left: -3px;
  width: 3px;
  z-index: 3;
}
/* line 66, slider.scss */
.controls.player-slider .slider-labels {
  width: 100%;
  z-index: 4;
}
/* line 70, slider.scss */
.controls.player-slider .slider-labels .slider-label {
  width: 0;
  position: absolute;
  bottom: 0;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
/* line 76, slider.scss */
.controls.player-slider .slider-labels .slider-label.full {
  height: 80%;
}
/* line 79, slider.scss */
.controls.player-slider .slider-labels .slider-label.half {
  height: 50%;
}
/* line 84, slider.scss */
.controls.player-slider .slider-time {
  width: 100%;
  z-index: 6;
  line-height: 30px;
}
/* line 90, slider.scss */
.controls.player-slider .slider-time .time {
  font-size: 12px;
  color: grey;
}
/* line 94, slider.scss */
.controls.player-slider .slider-time .time.left-time {
  float: left;
  margin-left: 10px;
}
/* line 98, slider.scss */
.controls.player-slider .slider-time .time.right-time {
  float: right;
  margin-right: 12px;
}
/* line 105, slider.scss */
.controls.player-slider .slider-spacer {
  position: relative;
  z-index: 1;
  height: 15px;
  width: 100%;
  background: black;
}
/* line 111, slider.scss */
.controls.player-slider .slider-spacer.spacer-bottom {
  height: 20px;
}
/* line 115, slider.scss */
.controls.player-slider .slider-spacer .time {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  display: inline-block;
}
/* line 120, slider.scss */
.controls.player-slider .slider-spacer .time.zero-time {
  color: grey;
  float: left;
  margin-left: 48.6px;
}
/* line 125, slider.scss */
.controls.player-slider .slider-spacer .time.current-time {
  color: white;
  width: 50px;
  text-align: center;
}
/* line 132, slider.scss */
.controls.player-slider .slider-spacer .time.total-time {
  color: grey;
  float: right;
  margin-right: 48.6px;
}
/* line 139, slider.scss */
.controls.player-slider .slider-bubble {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 8;
  width: 52px;
  text-align: center;
  color: white;
  height: 14px;
  line-height: 15px;
  top: -18px;
}
/* line 150, slider.scss */
.controls.player-slider .slider-bubble .bubble-time {
  font-size: 12px;
  color: white;
}
/* line 154, slider.scss */
.controls.player-slider .slider-bubble .bubble-img {
  height: 60px;
  width: 80px;
  position: absolute;
  top: -60px;
  left: -10px;
}
/* line 161, slider.scss */
.controls.player-slider .slider-bubble .bubble-img.hd {
  width: 106px;
  height: 60px;
  left: -20px;
}
/* line 170, slider.scss */
.controls.player-slider .slider-handle {
  z-index: 6;
  -webkit-transition: left 0.2s ease-in;
  -moz-transition: left 0.2s ease-in;
  -o-transition: left 0.2s ease-in;
  transition: left 0.2s ease-in;
}
/* line 174, slider.scss */
.controls.player-slider .slider-handle .handle-bar {
  width: 2px;
  height: 100%;
  background: white;
}
/* line 179, slider.scss */
.controls.player-slider .slider-handle .handle-bubble {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 52px;
  left: -25px;
  text-align: center;
  color: white;
  height: 14px;
  line-height: 15px;
  top: -18px;
  color: white;
  font-size: 12px;
}
/* line 194, slider.scss */
.controls.player-slider .slider-handle.selected {
  z-index: 7;
}
/* line 196, slider.scss */
.controls.player-slider .slider-handle.selected .handle-bar {
  background: #4de1ff;
}
/* line 199, slider.scss */
.controls.player-slider .slider-handle.selected .handle-bubble {
  color: #4de1ff;
}
/* line 204, slider.scss */
.controls.player-slider .handle-middle {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2;
  background: rgba(0, 0, 255, 0.2);
}
