@import "font-awesome.min.css";
@import "fonts-myriad-set-pro-200.css";
@import "reset.css";

@import "globals.scss";
@import "slider.scss";
@import "time.scss";
@import "movement.scss";
@import "saved_movements.scss";


.button-1{
	$main-color: white;
	background: none;
	border: solid 2px $main-color;
	color: $main-color;
	cursor: pointer;
	&:hover{
		border-color: $highlight-blue;
		color: $highlight-blue;
		// color: ;
		// border-color: 
	}
	&:active{
		$darker: darken( $highlight-blue, 40);
		border-color: $darker;
		color: $darker;
	}
}

.block-button{
	// background:none;
	border:none;
	height:100%;
	// width:100%;
	color:white;
	background: grey;
	margin:0;
	cursor:pointer;
	position: relative;
	font-family: "Myriad Set Pro";
	
	&:focus{
		outline:none;
	}
	&:active:after{
		content: " "; // This can't be "", needs a whitespace...
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.1);
		z-index: 9;
		display: block;
	}
}


body{
	font-family: "Myriad Set Pro";
	background: #373737;
}

.main-wrap{
	display:flex;
	height: $main-h;
}

.main-video-column{
	min-width: $vid-w-s;
	// margin: 0 auto;
	height: 100%;
	background: rgb(41, 41, 41);
}

.side-column{
	min-width: 300px;

}

.player-wrap{
	@include transition(transform .3s ease-in);
	background: black;
	height: $vid-h-s;
	//  not loaded yet. still a div
	div#player{
		background: #0000ff;
	}
	&.flipped{
		@include transform(scaleX(-1));
	}
}



.time-movement-controls{
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap; // default apparently

	.controls{
		background:black;
		position: relative;
		
		height: $movement-controls-h;
		&.player-time{
			width: $vid-w-s / 3;
		}
		&.player-movement{
			width: $vid-w-s * 2 / 3;
		}
	}
}

