@import "globals.scss";

$grey-1: #323232;

%enabled-move-button{
	color:grey;

	&:hover{
		color:white;
		cursor: pointer;
		background: grey;
	}
}

.controls.player-movement{
	color: white;
	

	.new-movement{
		
		display: flex;
		align-content: flex-end;

		position: relative;
		
		float: right;
		height: 100%;
		padding-right:10px;
		

		.button-spacer{
			width: 30px;
			height: 100%;
		}

		// &.has-movement{
			
		// 	.new-move-button-block{
		// 		@extend %active-move-button;
		// 	}
		// }

		// Contains text with an icon/png
		// Can be disabled/enabled
		// Has a tooltip!. ARGH tooltips
		.new-move-button-block{
			// display: flex;
			min-width: 35px;
			// height: $movement-controls-h;
			height: 100%;
			// padding-top:20px;
			padding-right: 5px;
			padding-left:5px;

			// no movement color
			color: #333333;

			&.new-move-create{
				@extend %enabled-move-button;
			}

			&.enabled{
				@extend %enabled-move-button;
			}

			&.active{
				color: $highlight-blue;
				cursor: pointer;
				&:hover{
					color: white;
				}
			}


			.button-name{
				margin-top: 25px;
				text-align: center;
				font-size: 14px;
			}
			.button-icon-cont{
				text-align: center;
				margin-top: 8px;
				.button-icon{
					font-size: 20px;
				}
			}
		}
	}

		

}