@import "globals.scss";

$grey-1: #323232;

.controls.player-movement{
	color: white;

	.new-movement{
		display: flex;
		position: relative;
		// background: $grey-1;
		height: 100%;
		width: 100%;
		// // width: $vid-w-s * .5;
		// width: 50%;
		// margin: 5px auto;
		// // margin: 5px;

		// background: darken($grey-1, 10);
		// white-space: nowrap;

		.cover-button{
			background:none;
			border: solid 2px #353535;
			color:tint(#353535, 20);
			height: 40%;
			width: 80%;
			@extend %abs-center;
			font-size: 16px;

		}

		.new-movement-block{
			height: 100%;
			box-sizing: border-box;
		}
		.name-left{
			text-align: center;
			line-height: $movement-controls-h;

			.movement-play-controls{
				display: none;	
				margin-top: 15px;
				.movement-play-control{
					cursor: pointer;
					display: inline-block;
					font-size: 25px;
					padding: 15px;
					padding-top:0;
					&:hover{
						color: #3e6adc;
					}
					&:active{
						color: #3861ca;
					}
					&.selected{
						color: #05d3ff;
					}
				}
			}	

			&.show-buttons{
				padding-top: 25px;
				line-height: 15px;
				.movement-play-controls{
					display: block;
				}
			}

			width: 25%;
			background: #1a1a1a;
		}
		.new-move-body{
			width: 55%;
			background: #2c2c2c;
			display: flex;
		}
		.new-move-controls{
			width: 20%;
			background: #4c4c4c;
		}

		.time-wrap{
			width: 50%;
			text-align: center;
			height: 100%;

			&.show-buttons{
				.time-title{
					height: 20%;
					padding-top: 10px;
					font-size: 12px;

				}
				.time-val-wrap{
					height: 40%;
				}
				.time-button-wrap{
					display: flex;
					height: 40%;
				}
			}
			.time-title{
				color: #5e5e5e;
				// margin-top: 10px;
				padding-top: 30px;
				box-sizing: border-box;
				// height: 30%;
				position: relative;
			}
			.time-val-wrap{
				// margin-top: 10px;
				// height: 50%
				padding-top: 15px;
				box-sizing: border-box;
				// display: flex;
				.saved-time{
					text-align: center;
					width:100%;
				}
				.temp-time{
					display: none;
					width: 100%;
				}
				&.show-temp-time{
					
					padding-top: 5px;
					.temp-time{
						display: block;
						// width: 70%;
					}
					.saved-time{
						color:#858585;
						font-size: 12px;
						margin-bottom: 10px;
						// width: 30%
						// display: none;
					}
				}

			}
			.time-button-wrap{
				// display: none;
				display: flex;
				button{
					font-size: 15px;
					width: 50%;
					background: none;
					color: #5e5e5e;
					&:hover{
						color: #5e5e5e;
						background: rgba(0,0,0,.1);
					}

				}
				.set{

				}
				.cancel{

				}
			}
			.edit-time{
				// width: 100%;
				position: absolute;
				cursor:pointer;
				font-size: 12px;
				color: #414141;
				padding: 10px;
				top:20px;
				right:30px;
				&:hover{
					color:#5b5b5b;
				}
			}

		}
		.new-move-controls{
			.block-button{
				display: block;
				height: 33.33%;
				background:none;
				&:hover{
					background: rgba(0,0,0,.1);
				}
			}
		}
	}

}