@import "globals.scss";

.controls.saved-movements{
	width:100%;
	.new-movement-action{
		width: 100%;
		padding: 10px;
		text-align: center;
		button{
		}
	}
	.movements-ul{
		// padding: 20px;
	}
	.movement-li{
		background: #565656;
		padding: 20px;
		// margin-bottom: 12px;
		border-bottom: solid 1px #111111;
		cursor: pointer; 
		&:hover{
			background:tint(#565656, 10);
		}
		.fa-play, .fa-refresh{
			display: none;
		}
		.fa{
			cursor: pointer;
			&:hover{
				color: $highlight-blue;
			}
			&:active{
				color: darken($highlight-blue, 20);
			}
		}
		.movement-name{

		}
		.start-time{

		}
		.end-time{

		}
		&.current{
			background:#c2c2c2;
			color: white;
			.fa{
				color: white;
			}
		}
	}
}

