<div class="new-movement content">
  {{! active-move }}


  <div class="new-move-button-block play-move">
    <h3 class="button-name">Play Move</h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-play-circle"></i>     
    </div>
  </div>

  <div class="new-move-button-block loop-move ">
    <h3 class="button-name">Loop Move</h3> 
    <div class="button-icon-cont">
      <i class="button-icon fa fa-refresh"></i>
    </div>  
  </div>  

  <div class="button-spacer"></div>

  <div class="new-move-button-block edit-start">
    <h3 class="button-name"> 
      Change Start
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-pencil"></i>
    </div>
  </div>  

  <div class="new-move-button-block edit-end">
    <h3 class="button-name"> 
      Change End
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-pencil"></i>
    </div>  
  </div>  

  <div class="button-spacer"></div>

  {{! flex child }}
  <div class="new-move-button-block new-move-pause-point">
    <h3 class="button-name"> 
      PausePoint
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-pause"></i>
    </div>
  </div>  

  <div class="button-spacer"></div>

  <div class="new-move-button-block">
    <h3 class="button-name"> 
      Zoom
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-search"></i>
    </div>
  </div>  

  <div class="button-spacer"></div>

  <div class="new-move-button-block move-deselect">
    <h3 class="button-name"> 
      Deselect
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-times"></i>
    </div>
  </div> 

  <div class="new-move-button-block new-move-chain ">
    <h3 class="button-name"> 
      Chain
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-chain"></i>   
    </div>
  </div>  

  <div class="new-move-button-block new-move-create">
    <h3 class="button-name"> 
      Create
    </h3>
    <div class="button-icon-cont">
      <i class="button-icon fa fa-plus"></i>
    </div>
  </div>  


</div>
