
<ul class="movements-ul">
  {{#movements}}
    <li class="movement-li set-move movement-data {{#current}} current {{/current}}" {{data 'movement'}}>
      <span class="movement-play set-play-move"> 
        <i class="fa fa-play"></i>
      </span>
      <span class="movement-loop set-loop-move"> 
        <i class="fa fa-refresh"></i>
      </span>
      <span class="movement-name">{{name}}</span>
      <span class="movement-id hide">{{movementId}}</span>
      <span class="start-time">{{formattedTime startTime}}</span>
      - 
      <span class="end-time">{{formattedTime endTime}}</span>

      <span class="movement-delete delete-move">
        <i class="fa fa-times"></i>
      </span>

    </li>
  {{/movements}}
</ul>